<ion-view view-title="Top Web">
  <ion-content class="padding">
<!--   <ion-list ng-repeat="topview in topwebs">
    <p>{{topview.name}} - {{topview.hits}}</p>
  </ion-list> -->

  <ion-list>
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="topweb in topwebs" type="item-text-wrap" href="#/tab/web/{{topweb.id}}">
      <img ng-src="https://gravatar.com/avatar/{{topweb.id}}?s=150&d=identicon">
      <h2>{{topweb.name}}</h2>
      <p>{{topweb.hits}} hits</p>
      <i class="icon ion-chevron-right icon-accessory"></i>


    </ion-item>
  </ion-list>

  <ion-list ng-show="!!!topwebs.length">
    <ion-item>
      <p>No result</p>
    </ion-item>
  </ion-list>

  <div class="row">
    <div class="col">
  <button class="button button-block button-positive" ng-click="startDatePicker()">Start Date</button>
  <span class="badge"  style="height: 100%;display: block;vertical-align: middle;">{{start_date}}</span>
    </div>
    <div class="col">

      <button class="button button-block button-positive"  ng-click="endDatePicker()">End Date</button>
      <span class="badge" style="height: 100%;display: block;vertical-align: middle;">{{end_date}}</span>
    </div>
  </div>
  <div class="row">
    <button class="button button-block button-balanced"  ng-click="updateTopWeb()">Update</button>
  </div>


  

  </ion-content>
</ion-view>
