<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Top Web" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Hits Tab -->
  <ion-tab title="Hits" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/chats">
    <ion-nav-view name="tab-webs"></ion-nav-view>
  </ion-tab>


</ion-tabs>
