<ion-view view-title="Web Hits Record">
  <ion-content class="padding">
<!--   <ion-list ng-repeat="topview in topwebs">
    <p>{{topview.name}} - {{topview.hits}}</p>
  </ion-list> -->

  <ion-list>
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="web in webs" type="item-text-wrap">
      <img ng-src="https://gravatar.com/avatar/{{web_id}}?s=150&d=identicon">
      <h2>{{web.hits}}</h2>
      <p>{{web.date}}</p>


    </ion-item>
  </ion-list>

  <ion-list ng-show="!!!webs.length">
    <ion-item>
      <p>No result</p>
    </ion-item>
  </ion-list>


  </ion-content>
</ion-view>
